<section class="skills">
    <div class="title">
        <h1>Habilidades</h1>
    </div>
    <div class="platforms">
       <div class="box">
           <img src="assets/skills/html5_2.svg" alt="">
           <p>HTML 5</p>
       </div>
       <div class="box">
            <img src="assets/skills/css3_2.svg" alt="">
            <p>CSS 3</p>
        </div>
        <div class="box">
            <img src="assets/skills/tailwindcss_2.svg" alt="">
            <p>Tailwindcss</p>
        </div>
        <div class="box">
            <img src="assets/skills/js_3.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="box">
            <img src="assets/skills/ts_2.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="box">
            <img src="assets/skills/angular_2.png" alt="">
            <p>Angular</p>
        </div>
        <div class="box">
            <img src="assets/skills/php_2.svg" alt="">
            <p>PHP</p>
        </div>
        <div class="box">
            <img src="assets/skills/mysql_2.svg" alt="">
            <p>Mysql</p>
        </div>
        <div class="box">
            <img src="assets/skills/laravel_2.png" alt="">
            <p>Laravel</p>
        </div>
    </div>
</section>