<section class="skills">
    <div class="title">
        <h1>Habilidades</h1>
    </div>
    <div class="platforms">
       <div class="box">
           <img src="assets/skills/html5.svg" alt="">
           <p>HTML 5</p>
       </div>
       <div class="box">
            <img src="assets/skills/css3.svg" alt="">
            <p>CSS 3</p>
        </div>
        <div class="box">
            <img src="assets/skills/js_2.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="box">
            <img src="assets/skills/ts.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="box">
            <img src="assets/skills/angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div class="box">
            <img src="assets/skills/php.svg" alt="">
            <p>PHP</p>
        </div>
        <div class="box">
            <img src="assets/skills/mysql.svg" alt="">
            <p>Mysql</p>
        </div>
        <div class="box">
            <img src="assets/skills/laravel.png" alt="">
            <p>Laravel</p>
        </div>
        <!-- <div class="box">
            <img src="assets/skills/sass.svg" alt="">
        </div> -->
    </div>
</section>