<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="intro-text">

    <p>
        Entusiasta em <span style="color: #fbbe33;">WEB DESIGN</span> e <span>DESENVOLVEDOR <span style="color: #ea4432;"> FULL-STACK</span></span>. Designer <span style="color: #50a4fb;">Gráfico</span> por conveniência
    </p>

</div>
<div class="image">
    <div class="img-container">
        
        <div class="text-name">
            <p>Isaquias Sebastião</p>

            <section>
                <span>
                    <!-- Técnico médio de Informática no Instituto de Telecomunicações (ITEL). <br> -->
                    6 anos de experiência em desenvolvimento de softwares com HTML 5, CSS 3, PHP, MYSql
                </span>

                <div class="link">
                    <a routerLink="/about">Saber mais &rarr;</a>
                </div>
            </section>
        </div>

        <img src="assets/images/image_2.jpg" alt="">
        
        <div class="icons">
            <ul>
                <li><a href=""><span class="fa-brands fa-linkedin-in"></span></a></li>
                <li> <a routerLink="/https://github.com/isaquiasmarques"><span class="fa-brands fa-github"></span></a></li>
                <li> <a href=""><span class="fa-brands fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<app-skills></app-skills>