<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="intro-text">

    <p>
        Entusiasta em <span>WEB DESIGN</span> e <span>DESENVOLVEDOR FULL-STACK</span> Desginer <span>Gráfico</span> como Hobby
    </p>

</div>
<div class="image">
    <div class="img-container">
        
        <div class="text-name">
            <p>Isaquias Sebastião</p>

            <section>
                <span>
                    Técnico médio de Informática no Instituto 
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore sunt doloremque, omnis dolores ab accusamus eaque minus, earum soluta, inventore culpa officia a temporibus et commodi quidem iusto qui! Quidem.
                </span>

                <div class="link">
                    <a routerLink="about">Saber mais &rarr;</a>
                </div>
            </section>
        </div>

        <img src="assets/images/image.jpg" alt="">
        
        <div class="icons">
            <ul>
                <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li> <a href=""><i class="fa-brands fa-github"></i></a></li>
                <li> <a href=""><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>